body {
    text-align: center;
    background-color: #ccc;
    font-family: Helvetica, serif;
}
.choose-area {
    width: 50%;
    float: right;
    text-align: center;
}
.game {
    width: 50%;
    float: left;
}
.input_hidden {
    position: absolute;
    left: -9999px;
}
.selected {
    background-color: #E37222;
}
#chars label {
    display: inline-block;
    cursor: pointer;
}
#chars label:hover {
    background-color: #3d3d3d;
}
#chars label img {
    padding: 3px;
}
.instruction {} .welcome {
    color: #0375b4;
}
.list {
    color: #062f4f;
    list-style: none;
    line-height: 3em;
    text-align: left;
}
.red {
    color: red;
    font-weight: bold;
    font-size: 20px;
}